// COLORS
$teal-lightest: #A9DDD9
$teal-lighter: #70D8D4
$teal-light: #44C5C0
$teal: #23B5AF
$teal-dark: #00A9A3
$teal-darker: #007C77
$red: #E3493B
$yellow: #EEBA4C

$blackText: #141823
$black: #3A3A3C
$white: #FFFAFA

$beige: #F5F5DC
$eggshell: #F0EAD6
$ghost-white: #F8F8FF

//----- SOCIAL COLORS -----//
$facebook: #3B5998
$twitter: #4099FF
$google-plus: #D34836
$linkedin: #007BB6
$pinterest: #CB2027
$youtube: #BB0000
$instagram: #517FA4
$vine: #00BF8F
$snapchat: #FFFC00
$quora: #A82400
$flickr: #FF0084
$tumblr: #32506D
$vimeo: #AAD450
$foursquare: #0072B1
$github: #333333

//---------- MEASUREMENTS ----------//
// BOOTSTRAP
$sm: 750px
$md: 970px
$lg: 1170px

//---------- FONTS ----------//
$cabin: 'Cabin', sans-serif
$exo: 'Exo', sans-serif
$drSugiyama: 'Dr Sugiyama', cursive

//---------- IMPORTS ----------//
@import header
@import home
@import creationsMenu
@import webMenu
@import photoMenu
@import graphicMenu
@import project
@import footer


//---------- GENERAL ----------//
h2, h3, h4, h5, h6
	font-family: $exo

p, a, i, b
	font-family: $cabin

a:hover
	text-decoration: none
	color: $blackText

ul
	list-style: none
	padding: 0
	margin: 0

input, select, textarea, button
	border-radius: 2px !important

html
	background:$white
	color: #141823
	background: none

.projects article h3 a
	font-family: $exo
	color: $blackText


