<!DOCTYPE html>
<html>
	<!-- ==================================================
	  _           _ _       
	 | |         | | |      
	 | |__   ___ | | |_   _ 
	 | '_ \ / _ \| | | | | |
	 | | | | (_) | | | |_| |
	 |_| |_|\___/|_|_|\__, |
	                   __/ |
	                  |___/ 
	                 _                 _                  
	                (_)               | |                 
	  ___ _ __  _ __ _ _ __   __ _ ___| |_ ___  ___ _ __  
	 / __| '_ \| '__| | '_ \ / _` / __| __/ _ \/ _ \ '_ \ 
	 \__ \ |_) | |  | | | | | (_| \__ \ |_  __/  __/ | | |
	 |___/ .__/|_|  |_|_| |_|\__, |___/\__\___|\___|_| |_|
	     | |                  __/ |                       
	     |_|                 |___/  
	================================================== -->
	<head>
	<!-- Meta -->
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="holly, springsteen, web, developer, dev, designer, design, graphic, photography, html, html5, css, css3, javascript, js, node, node.js, nodejs, python, php, ui, ux, ui/ux, mongo, mongodb, sql, mysql, photoshop, illustrator, indesign" />

		<!-- Site Verification -->
		

		<!-- Facebook OG meta -->
		<meta property="og:title" content="Holly Springsteen" />
		<meta property="og:description" content="" />
		<meta property="og:image" content="https://farm3.staticflickr.com/2948/15474757755_065d708842_z.jpg" />
		<meta property="og:url" content="http://www.hollyspringsteen.com/" />
		<meta property="og:site_name" content="Holly Springsteen" />
		<meta property="og:type" content="website" />

		<!-- Mobile Settings -->
		<meta name="HandheldFriendly" content="true" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=medium-dpi, width=device-width" />
		
	<!-- Title -->
		<title>Holly Springsteen</title>

	<!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="/assets/css/bootstrap.css"> --> <!-- Bootstrap Fallback -->
		<link rel="stylesheet" href="/assets/font-awesome-4.1.0/css/font-awesome.min.css">

	<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

	<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Dr+Sugiyama' rel='stylesheet' type='text/css'>
        
	<!-- JavaScript -->
		<script  src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
		<!-- <script src="/assets/js/jquery-1.8.3.min.js"></script> --> <!-- JQuery Fallback -->
		<script src="/assets/js/modernizr.custom.05501.js"></script>
		<script src="/assets/js/selectivizr-min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	</head>
	<body>
		<div id="wrapper" class="wrapper">
			<header class="upper">
				<h1>Holly Springsteen</h1>
				<nav>
					<ul class="hidden-sm hidden-xs">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/about/">About</a>
						</li>
						<li>
							<a>Contact</a>
						</li>
						<li class="creations">
							<a class="creationsTitle">Creations <span class="dropHidden glyphicon glyphicon-chevron-down"></span>&nbsp;</a>
							<ul>
								<li>
									<a>Graphic Design</a>
								</li>
								<li>
									<a>Photography</a>
								</li>
								<li>
									<a href="/creations/web-menu">Web</a>
								</li>
							</ul>
						</li>
						<li class="search">
							<a class="glyphicon glyphicon-search"></a>
						</li>
					</ul>
					<ul class="mobile-nav hidden-md hidden-lg">
						<li>
							<div class="menu-icon">
								<p class="fa fa-bars fa-3x"></p>
							</div>
							<ul id="mobile-nav-slide">
								<li>
									<form role="form">
										<input type="text" placeholder="Search">
										<button></button>
									</form>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

			<%- body %>

		</div> <!-- wrapper -->
			
		</footer>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		
		<div class="js-container">
			<!-- JAVASCRIPT -->
			<!-- <script src="/assets/js/mouse.parallax.js"></script> -->
			<script src="/assets/js/main.js"></script>
		</div>

	</body>
</html>